/* Style for Footer
*/
.footer {
	background-color: #222222;
	border-bottom: 1px solid #393939;;
	.container {
		.footer-content {
			padding-top: 50px;
			@include responsive_425 {
				.footer__about {
					p {
						i {
							margin-right: 50px;
						}
					}
				}
			}
			@include responsive_375 {
				.footer__about {
					p {
						i {
							margin-right: 50px;
						}
					}
				}
			}
			@include responsive_768 {
				.footer__about {
					p {
						i {
							margin-right: 50px;
						}
					}
				}
				.helper_div {
					display: none;
				}
			}
			.footer-content__col {
				a {
					color: #888888;
				}
				a:hover {
					color: white;
				}
				p {
					color: #888888;
				}
				.col__title {
					padding-top: 13px;
					p {
						font-size: 16px;
						padding-bottom: 30px;
						border-bottom: 1px solid #393939;
						color: #F7F7F7;
						@include responsive_mobile {
							padding-top: 15px;
							padding-bottom: 15px;
							border-top: 1px solid #393939;
						}
					}
				}
				.col-content {
					padding-bottom: 49px;
					@include responsive_mobile {
						padding-bottom: 20px;
					}
					p {
						font-family: Open Sans;
						font-size: 14px;
						color: #888888;
						a {
							font-family: Open Sans;
							font-size: 14px;
							color: #888888;
						}
						a:hover {
							color: white;
						}
						i {
							margin-right: 10px;
						}
					}

				}
			}

		}
	}
}
.copyright {
	padding-top: 30px;
	padding-bottom: 25px;
	background-color: #222222;
	color: white;
	font-family: Open Sans;
	font-size: 14px;
	.cpy {
		@include responsive_425 {
			float: none;
			text-align: center;
		}
		@include responsive_375 {
			float: none;
			text-align: center;
		}
		@include responsive_320 {
			float: none;
			text-align: center;
		}

		prev {
			color: #888888;
			b {
				color: #FF4628;
			}
		}
	}
	.pay {
			float: right;
			@include responsive_425 {
				float: none;
				text-align: center;
				margin-top: 30px;
			}
			@include responsive_375 {
				float: none;
				text-align: center;
				margin-top: 30px;
			}
			@include responsive_320 {
				float: none;
				text-align: center;
				margin-top: 30px;
			}
			a{
				color: #888888;
			}
	}
}	