/*2.1 Hearder*/
.header {
	margin: auto;
	max-width: 1920px;
	height: 79px;
	text-align: center;
	.header__logo {
		height: 79px;
		padding: 20px 0px 19px 30px;
		img {
			height: 100%;
			// margin: 20px 0px 19px 30px;
			max-height: 40px;
			width: 200px;
			float: left;
		}
	}
	.header__menu {
		height: 79px;
		padding: 35px 20px 35px 20px;
		ul {
			line-height: 0.5;
			li {
				margin: 0px 14px;
				display: inline-block;
				a {
					font-weight: bold;
					font-size: 14px;
					font-family: 'Montserrat';
					color: #000000;
				}
				a:hover {
					color: #8262B5;
					text-decoration: none;
				}
			}
		}
	}
	.header__tag {
		padding: 20px 30px 19px 0px;
		img {
			height: 100%;
			max-height: 26px;
			float: right;
		}
	}
}